.App {
  text-align: center;
}

body {
  background-size: cover;
  background-image: url('./img/home-background.jpg');
  height: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}

img.about {
  border-radius: 50%;
}

a.about {
  margin-left: 2rem;
  margin-right: 2rem;
  color: green;
  font-size: 1.25rem;
  text-decoration: none;
}

h3 {
  color: black;
}

p {
  color: black;
  font-size: 1.25rem;
}

#carousel-container {
  max-height: '50vw';
  margin-top: 22vh;
}
