.App {
  text-align: center;
}

body {
  background-size: cover;
  background-image: url('./img/home-background.jpg');
  height: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}

img {
  border-radius: 50%;
}
